.side-menu {
    min-width: 250px;
    border-radius: 0 20px 20px 0;
    color: #f5f7fb;
    background: #4c56c0;
}

.nav-item {
    list-style-type: none;
}

.nav-link {
    display: inline-block;
    padding-left: 15px;
    width: 100%;
    height: 45px;
    border-radius: 20px 0 0 20px;
    line-height: 45px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    color: #f5f7fb;
    transition: all 0.2s;
}

.nav-link.active {
    color: #4c56c0;
    background: #f5f7fb;
}

.nav-tabs {
    padding-left: 25px;
}

.nav-icon {
    display: inline-block;
    margin-right: 10px;
}
