/*header */
header {
    display: flex;
    padding: 30px;
}

.welcome-block {
    position: relative;
    display: inline-block;
    padding: 10px 40px;
    margin-right: 25px;
    height: 100px;
    width: 250px;
    color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    background: #9dd6ab;
}

.welcome-block img {
    position: absolute;
    top: 5px;
    right: -10px;
    height: 110px;
}

.welcome-block p {
    margin: 0;
    padding-top: 16px;
    padding-left: 5px;
    font-family: Georgia;
    font-size: 32px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 2px;
}

.info-block {
    display: inline-block;
    padding: 10px;
    height: 100px;
    width: 250px;
    border-radius: 10px;
    background: #4c56c0;
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}
