
/*list*/
.list {
    padding: 30px;
    height: calc(100vh - 210px);
}

.list-header {
    padding: 10px 20px;
    margin-bottom: 5px;
    background: #fff;
    border-bottom: 1px dashed #ccc;
    border-radius: 10px;
}

.list-filter-bar {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.list-filter {
    position: relative;
}

.list-filter svg {
    position: absolute;
    top: 6px;
    left: 6px;
    font-size: 14px;
    color: #878787;
}

.filter-input {
    margin-bottom: 15px;
    height: 24px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    text-indent: 25px;
}

.list-columns {
    margin: 25px 0 5px;
    font-size: 12px;
    font-weight: 600;
}

.list-columns span {
    display: inline-block;
    width: 32%;
    white-space: nowrap;
}

.list-items {
    height: calc(100% - 140px);
    overflow-y: scroll;
}

.list-item {
    padding: 5px 10px 5px 20px;
    border-bottom: 1px dashed #ccc;
    border-radius: 10px;
    height: 35px;
    line-height: 35px;
    background: #fff;
}

.list-item span {
    display: inline-block;
    width: 32%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.loader {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: #fff;
}